<h1>{{ heading }}</h1>
<ng-container *ngIf="(projects$ | async) as projects; else loading">
  <table class="ui celled padded table">
    <tr>
      <th class="single line">Bezeichnung</th>
      <th>Projekt-Id</th>
      <th>Zeitraum</th>
      <th>Maximalbudget in €</th>
      <th>Kunden-Id</th>
      <th></th>
      <th></th>
    </tr>

    <tr *ngFor="let project of projects.data">
      <td>{{ project.name }}</td>
      <td>{{ project.id }}</td>
      <td>{{ project.timespan }}</td>
      <td>{{ project.budget }}</td>
      <td>{{ project.customerId }}</td>
      <td>
        <button class="ui lightgrey button">Raumplan<i class="right arrow icon"></i></button>
      </td>
      <td>
        <button class="ui lightgrey button">Angebot<i class="right arrow icon"></i></button>
      </td>
    </tr>
  </table>

  <p *ngIf="!projects.data.length">Es wurden noch keine Projekte eingetragen.</p>
</ng-container>

<ng-template #loading>
  <div class="ui active dimmer"><div class="ui large text loader">Daten werden geladen...</div></div>
</ng-template>
